:root {
    --soft-green: #E6F2EE;
    --bright-green: #00E596;
    --brand-dark-green: #002E1E;
    --brand-deep-purple: #24042E;
    --brand-black: #0B0D0C;
    --brand-light-grey:#BABABA;
    --brand-mid-grey:#878787;
    --brand-dark-grey:#404040;

    --xs9: 0.107rem;
    --xs8: 0.134rem;
    --xs7: 0.168rem;
    --xs6: 0.21rem;
    --xs5: 0.262rem;
    --xs4: 0.328rem;
    --xs3: 0.41rem;
    --xs2: .512rem;
    --xs: .64rem;
    --sm: 0.8rem;
    --base: 1rem;
    --lg: 1.25rem;
    --xl: 1.563rem;
    --xxl: 1.953rem;
    --xl2: 2.441rem;
    --xl3: 3.052rem;
    --xl4: 3.815rem;
    --xl5: 4.768rem;
    --xl6: 5.96rem;
    --xl7: 7.451rem;
    --xl8: 9.313rem;
    --xl9: 11.642rem;


    --brand-sans: 'Inter', sans-serif;
    --codeFont: 'Fira Code', monospace;

    line-height: var(--xl);

}


a:hover {
    background: var(--bright-green);
    text-decoration: none;
}

a {color: var(--brand-black)}
